<ion-content>
  <div class="body">
    <div>
      <img src="../../../assets/img/user.png" alt="">
    </div>
    <div class="body-form">
      <form [formGroup]="formLogin" method="post">
        <div class="input-body">
          <label class="label-text">Email</label>
          <div class="container-input">
            <input placeholder="Seu email" type="text" formControlName="email">
          </div>
        </div>
        <div class="input-body">
          <label class="label-text">Senha</label>
          <div class="container-input">
            <input placeholder="Sua senha" type="password" formControlName="password">
          </div>
        </div>
          <button class="span-text" (click)="redirectSenhaRecovery()">
            Esqueci minha senha
          </button>
          <div class="btn-body">
            <button class="btn-exclud" type="submit" (click)="createUser()">Cadastrar</button>
            <button class="btnSubmit" type="submit" (click)="clickLogin()">Entrar</button>
          </div>
      </form>
    </div>
  </div>
</ion-content>
