<ion-content>
  <div class="body">
    <div class="header">
      <div class="header-text">
        <span>Cadastro de usuário</span>
      </div>
      <div class="header-menu">
        <button class="btnMenu" (click)="back()">
          Voltar
        </button>
      </div>
    </div>

    <div class="body-form">
      <form [formGroup]="create" method="post">
        <div class="input-body">
          <label class="label-text">Nome</label>
          <div class="container-input">
            <input placeholder="Nome" type="text" formControlName="name">
          </div>
        </div>
        <div class="input-body">
          <label class="label-text">Email</label>
          <div class="container-input">
            <input placeholder="Email" type="text" formControlName="email">
          </div>
        </div>
        <div class="input-body">
          <label class="label-text">Senha</label>
          <div class="container-input">
            <input placeholder="Senha" type="text" formControlName="password">
          </div>
        </div>

        <div class="btn-body">
          <button class="btnSubmit" type="submit" (click)="createUser()">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="msgSuccess" *ngIf="notificationSuccess === true">
    <span>{{msgSuccess}}</span>
  </div>

  <div class="msgError" *ngIf="notificationError === true">
    <span>{{errorMsg}}</span>
  </div>
</ion-content>
