.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9fb;
  flex-direction: column;
}

.body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header{
  width: 100vw;
  height: 80px;
  background: #ebc13b;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.header span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 16px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.header-text{
  width: 40vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 600px) {
    width: 60vw;
  }
}

.header-menu{
  width: 60vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @media (max-width: 600px) {
    width: 40vw;
  }
}

.btnMenu{
  min-width: 80px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 600px) {
    margin-right: 8px;
  }
}

.btnMenu img{
  margin-left: 8px;
  width: 32px;
  height: 32px;
}

.label-text{
    padding-left: 13px;
    box-sizing: border-box;
    color: #303E11;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}

.span-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #09101D;
  background: none;
}

.body-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;

  margin-top: 120px;
}

.card{
  width: 60vw;
  margin-bottom: 40px;

  @media (max-width: 600px) {
      width: 95vw;
    }
}

.body-title-card{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.body-title-card img{
  width: 40px;
  height: 40px;
  margin-right: 16px;

  @media (max-width: 600px) {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }
}

.body-title-card span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #09101D;
  background: none;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.body-title-card p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #09101D;
  background: none;
  margin-left: 8px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #09101D;
  background: none;
}

.subText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #09101D;
  background: none;
}

.description{
  display: flex;
  flex-direction: row;
}

.description-context{
  margin-left: 32px;
}

.btn-body{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-edit{
  min-width: 80px;
  height: 48px;
  background: #ebc13b;
  color: #FFFFFF;
  border-radius: 8px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-exclud{
  min-width: 80px;
  height: 48px;
  background: #ffffff;
  color: #ebc13b;
  border-radius: 8px;
  border: 1px solid #ebc13b;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  margin-right: 16px;
}
